{% extends "base.html" %}

{% block script %}
<script>
$(document).ready(function(){
  loadTweetContainer("tweet-container")

})

</script>
{% endblock script%}


{% block content %}



    <div class='row'>
         <div class='col-sm-12 '>
            {% if request.GET.q %}
            <p class="lead"> Results for {{ request.GET.q }}</p>
            {% endif %}
         </div>
        <div class='col-sm-9 '>
           <h1>Tweets</h1>
           <hr/>
             {% if not request.GET.q %}
                <div class=''>
                    {% include "tweets/form.html" with form=create_form action_url=create_url  btn_title='Tweet' form_class='tweet-form' %}
                </div>
                <hr/>
            {% endif %}
            </hr>

         <div id="tweet-container" data-url="http://127.0.0.1:8000/api/search/">   </div>
         <a href="#" id="loadmore">load more Tweet</a>

        </div>
        <div class="col-sm-3">
          <h1>Users</h1>
          <hr/>
          {% for user in users %}
            <a href="/{{ user.username }}/">{{ user.username }}</a><br/>
            {% empty %}
            <p>Not User found!</p>
          {% endfor %}
        </div>

    </div>


{% endblock content %}


